body{
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(189, 202, 189);
    flex-wrap: wrap;
}

header{
    width: 100%;
    background-image: url("../img/cross.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: fixed;
    z-index: 1;
    display: flex;
}

header::before{
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 66, 0, 0.5);
    z-index: -1;
}

header h1{
    width: auto;
    color: white;
    padding: 90px 25px;
    font-size: 3.5em;
    font-weight: bold;
    float: left;
    transition: 0.5s;
    display: block;
}

header h1 a{
    height: 100%;
    color: white;
    text-decoration: None;
    display: flex;
    align-items: center;
    transition: 0.5s;
    justify-content: center;
}

header h1 a{
    color: white;
}

header .space{
    height: 100%;
    flex: 1;
    content: "";
}

header nav{
    height: 100%;
    width: auto;
    position: absolute;
	right: 25px;
    cursor: default;
    transition: 0.5s;
}


.subtitle{
    color: white;
    height: 100%;
    display: inline-block;
}

.subtitle a{
    height: 100%;
    color: white;
    text-decoration: None;
    width: 66px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    justify-content: center;
}

.subtitle a:hover{
    color: green;
    background-color: white;
}

header.small h1{
	padding: 25px;
	font-size: 1.5em;
}

.main{
    /* background-color: rgba(80, 92, 80, 0.5); */
    margin:0 auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 320px;
    transition: 1s;
}

.main.scroll{
    padding-top: 320px;
}

.main h1{
    width: 100%;
    text-align: center;
}

.img_area{
    width: 40%;
    padding: 10px 1%;
    border: 1px solid black;
}

.text_area{
    width: 55%;
    padding: 10px 1%;
    border: 1px solid black;
}