body{
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

header{
    background-color: green;
    position: fixed;
    width: 100%;
}

header h1{
    width: auto;
    color: white;
    padding: 90px 25px;
    font-size: 3.5em;
    font-weight: bold;
    float: left;
}

header a{
    color: white;
    text-decoration: None;
}

header nav{
    position:absolute;
    top: 134px;
	right: 25px;
}

.subtitle{
    color: white;
    display: inline-block;
}
